<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>login</h1>
    <% if (messages.error) { %>
    <%= messages.error %>
    <% } %>
    <form action="/login" method="post">
        <div>
            <input type="text" id="email" name="email" placeholder="email">
            <input type="text" id="password" name="password" placeholder="password">
            <button type="submit">login</button>
        </div>
    </form>
    <a href="/register">resgiter</a>
</body>

</html>