<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>register</h1>
    <form action="/register" method="post">
        <div>
            <input type="text" id="name" name="name" placeholder="name">
            <input type="text" id="email" name="email" placeholder="email">
            <input type="password" id="password" name="password" placeholder="password">
            <button type="submit">Submit</button>
        </div>
    </form>

    <a href="/login">login</a>

</body>

</html>